*{
  font-family: Trebuchet MS;
  color: black;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  --main-nav-color: darkgrey;
  --secondary-nav-color: tan;
  overflow: hidden;
} 

.text_link:hover {
  color: var(--secondary-nav-color);
}
.navbar{
  display: flex;
  flex-direction: row;
  border-bottom: solid var(--secondary-nav-color) 4px;
  width: 100%;
}

.nav-item {
  color: white;
  background-color: var(--main-nav-color);
  text-decoration: none;
  padding: 15px;
  font-size: 1.1em;
  border-right: solid white 1px;
  width: 15%;
  text-align: center;
}

.nav-item:hover {
  //background-color: rgb(94, 0, 0);
  opacity: 0.9;
}

.nav-item-empty {
  color: white;
  background-color: var(--main-nav-color);
  text-decoration: none;
  padding: 15px;
  font-size: 1.1em;
  width: 100%;
  text-align: center;
  border-right: solid white 1px;
}

.form_input {
  padding: 0px;
  margin-bottom: 20px;
  color: var(--main-nav-color);
}

.links {
  font-size: 1em;
  border-color: var(--main-nav-color);
  color: var(--main-nav-color);
  border-radius: 1px;
  border: solid 2px;
  padding: 10px;
}

.links:hover {
  color: white;
  background-color: var(--main-nav-color);
  border-color: var(--main-nav-color);
}

input[type=number] {
  border: none;
  border-bottom: solid black 1px;
  font-size: 1em;
  color: var(--main-nav-color);  
}

input[type=text] {
  border: none;
  border-bottom: solid black 1px;
  font-size: 1em;
  color: var(--main-nav-color);
}

input[type=submit] {
  font-size: 1em;
  border-color: var(--main-nav-color);
  color: var(--main-nav-color);
  border-radius: 1px;
  border: solid 2px;
  width: 170px;
}

input[type=submit]:hover {
  color: white;
  background-color: var(--main-nav-color);
  border-color: var(--main-nav-color);
}

input:focus {
  outline: 2px solid var(--main-nav-color); 
}

select {
  background-color: white;
  border: none;
  border-radius: 0px;
  font-size: 1em;
}

select:focus {
  outline: 2px solid var(--main-nav-color);
  border-radius: 0px;
  border-color: green;
}


#full-page-container{
  height: 100vh; 
  width: 100vw; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}

#inner-page-container{
  display: flex;
  flex-direction: column;
height: 98%;
width: 98%;
border: solid red 1px;
}

#nav-bar-container{
  width: 100%;
}

#user-sign-in{
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
}

#two-column-container {
  border: solid green 3px;
  display: flex;
  flex-direction: row;
  height: 98%;
  align-items: center;
  justify-content: center;
}

#main-column1{
  height: 99%;
  width: 99%;
  border: solid gray 1px;
  padding: 5px;
}

#main-column2{
  height: 99%;
  width: 99%;
  border: solid red 1px;
  padding: 5px;
}
